.footer-div {
  display: flex;
}

.footer {
  bottom: 0;
  position: fixed;
  transform: translate(18%, -10%);
}

.footer-btn img {
  width: 100%;
}

.footer-btn {
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
}
